<div id="login-box">
  <div class="left-box" style="margin-top: 20%;">
    <h1> Login </h1>
    <mat-form-field class="example-full-width" appearance="outline" >
      <mat-label>Email</mat-label>
      <input matInput placeholder="abc@xyz.com" [formControl]="username">
    </mat-form-field>

    <button mat-flat-button style="background-color: #ffd000" 
    (click)="validate(username.value)">Login</button>
    <!-- <input type="submit" name="Request For Registration" placeholder="Sing Up"/> -->
  </div>
  <div class="right-box" id="content-desktop">
  </div>
</div> 